<!doctype html>
<html lang="en" ng-app="GraphSlider">
<head>
  <meta charset="utf-8">
  <title>Slider</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet/less" type="text/css" href="app/css/app.less" />
</head>
<body ng-controller="NodesCtrl">
	<draw>
	    <div class="gs-container">
		    <div class="row gs-search">
		    	<input placeholder="find" ng-model="searchValue">
	    	</div>
	    	<div class="gs-search-result pull-left" ng-show="result">
	    		<ul ng-repeat="node in result" ng-click="findSelectedNode(node)">
	    	        <a > <li ng-bind="node.label"></li></a>
	    	    </ul>
	        </div>
	        <div class="gs-main-section" >
		        <div class="row ng-section-root-node" ng-repeat="node in rootNode">
		        	<div ng-click="selectedNode(node)">
		        		<div neighbour-element id="{{node.nodeID}}">
		        		<label ng-bind="node.title"></label>
		        		<div ng-if="selectedId && (node.nodeID === selectedId)" 
	        				ng-include="'app/templates/node-details.html'">
	        			</div>
		        		</div>
		        	</div>
		        </div>

	        	<div class="row gs-section-child-nodes" on-finish-render ng-repeat="node in neighbourNodes | limitTo:limit" ng-dblclick="findSelectedNode(node)" ng-click="selectedNode(node)" ng-class="selectedId && {'gs-not-active':(node.nodeID !== selectedId)}">
	        		<div>
	        			<div ng-bind="node.title" ng-class="{'gs-hide-selected':(node.nodeID === selectedId)}"></div>
	        			<div ng-if="selectedId && (node.nodeID === selectedId)" 
	        				ng-include="'app/templates/node-details.html'">
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
    </draw>
</body>
<script src="bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/less/dist/less.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="app/js/main.js"></script>
</html>