body{
}

#ctreateNode{
}

.findresult {
	border:solid 1px #eee;
}
.findresult li {
	list-style: none !important;
}
.findresult ul {
	padding-left: 5px;
}
.findresult ul:hover{
	background: #eee;
	cursor: pointer;
}
.findresult a {
	text-decoration: none;
}