<div class="gs-container">
	<input placeholder="find" ng-model="searchValue">
	
	<div class="gs-search-result pull-left" ng-show="result">
		<ul ng-repeat="node in result" ng-click="findSelectedNode(node)">
	        <a > <li > {{ node.label }}</li></a>
	    </ul>
    </div>
    <div class="gs-main-section" ng-repeat="node in rootNode">
    	<div class="row ng-section-root-node">
    		<div neighbour-element id="{{node.nodeID}}">
    		<label> {{ node.title }} </label>
    		<div></div>
    		</div>
    	</div>

    	<div class="row gs-section-child-nodes" on-finish-render ng-repeat="neighbourNode in neighbourNodes | limitTo:limit">
    		<div neighbour-element id="{{neighbourNode.nodeID}}">
    			<label> {{ neighbourNode.title }} </label>
    			<div class="gs-data"></div>
    		</div>
    	</div>
    </div>
    
	<div class="gs-canvas">
		<draw>
			<!--canvas width="1200px" height="600px"></canvas-->
		</draw>
	</div>

</div>
